.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
